@model Transaction

<div class="row">
    <div class="col">
        <h1 class="display-2" style="color: #e3f2fd;">Welcome, @ViewBag.User.FirstName</h1>
        <h2 class="mb-3" style="color: #e3f2fd;">Current balance: <span class="text-success">$@ViewBag.User.Balance.ToString("0.00")</span></h2>
        <form asp-action="Transaction" asp-controller="Home" method="post">
            <h5 class="mb-0"><label style="color: #e3f2fd;" asp-for="Amount"></label>
            <h1 class="display-3"><span class="text-danger" asp-validation-for="Amount"></span></h1>
        <div class="d-flex d-inline">
            <input asp-for="Amount" class="form-control" placeholder="0.00">
            <input type="hidden" asp-for="UserId" value="@ViewBag.User.UserId">
            <input type="submit" value="Submit" class="btn btn-success ml-5">
        </form>
        </div>
    </div>
    <div class="col">
        <table class="table table-striped table-dark mt-4">
            <thead>
                <tr>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var trans in ViewBag.Transactions)
                {
                    <tr>
                        <td>$@trans.Amount.ToString("0.00")</td>
                        <td>@trans.CreatedAt.ToString("MMM d yyy")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
